.header {
    padding: 30px;
    display: grid;
    background-color: #8070d4;
}

.heading_h1 {
    color: white;
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    align-items: center;
}

.nav_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.go_back {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

.go_back span {
    font-weight: 500;
    margin-right: 7px;
}