.search_home {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.select,
.search_home,
.search {
    width: 100%;
}

@media (max-width: 830px) {
    .search_home {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        width: 100%;
    }
}